{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" data-turbo-track="reload" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block title %}
	Sylvain Blondeau - Développeur Freelance PHP Symfony - 100% télétravail
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<div class="container">
		<header>
			<h1>Sylvain BLONDEAU</h1>
			<div>
				<h2>
					<img class="icon" src="{{ asset('images/programming.png')}}" alt="">
					Développeur
					<strong>PHP/Symfony</strong>
				</h2>
				<img class="icon-dark php-icon hide-sm" src="{{ asset('images/php.png') }}" alt="">

				<h2>
					<img class="icon icon-dark" src="{{ asset('images/work-from-home.png')}}" alt="">
					100%
					<strong>télétravail</strong>
				</h2>
				<img class="icon-dark remote-icon hide-sm" src="{{ asset('images/webinar.png') }}" alt="">
			</div>
		</header>
		<main>
			<div class="arrow-block learn-more">
				<img class="arrow-block-icon" src="{{ asset('images/job-seeker.png')}}" alt="">
				<img class="arrow" src="{{ asset('images/arrows/rotated-right.png')}}" alt="">
				<span class="arrow-block-text">Envie d'en apprendre plus ?</span>
			</div>
			<div>
				<ul>
					<li class="skills">
						<a href="{{ path('app_skill') }}">
							<img class="icon" src="{{ asset('images/right-arrow.png') }}" alt="">
							Mes compétences
						</a>
						<div class="arrow-block hide-sm">
							<img class="arrow-small" src="{{ asset('images/arrows/double-loop.png') }}" alt="">
							<span class="arrow-block-text">Découvrir ce que je sais faire</span>
							<img class="icon" src="{{ asset('images/skills.png') }}" alt="">
						</div>
					</li>
					<li class="portfolio">
						<a href="{{ path('app_project') }}">
							<img class="icon" src="{{ asset('images/right-arrow.png') }}" alt="">
							Mes réalisations
						</a>
						<div class="arrow-block hide-sm">
							<img class="arrow-small" src="{{ asset('images/arrows/double-loop.png') }}" alt="">
							<span class="arrow-block-text">Ce que j'ai déjà fait</span>
							<img class="icon" src="{{ asset('images/portfolio.png') }}" alt="">
						</div>
					</li>
					<li class="offer">
						<a href="{{ path('app_offer') }}">
							<img class="icon" src="{{ asset('images/right-arrow.png') }}" alt="">
							Mon offre
						</a>
						<div class="arrow-block offer hide-sm">
							<img class="arrow-small" src="{{ asset('images/arrows/double-loop.png') }}" alt="">
							<span class="arrow-block-text">Ce que je peux faire pour vous</span>
							<img class="icon" src="{{ asset('images/offer.png') }}" alt="">
						</div>

					</li>
				</ul>
			</div>
			<div class="arrow-block question">
				<img class="arrow-block-icon" src="{{ asset('images/question.png')}}" alt="">
				<img class="arrow" src="{{ asset('images/arrows/rotated-right.png')}}" alt="">
				<span class="arrow-block-text">Une question ? Je suis à l'écoute</span>
			</div>


			<div>
				<a class="btn" href="{{ path('app_contact')}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
						<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
					</svg>
					Contact
				</a>
			</div>
		</main>
	</div>
	<aside>
		<img class="me" src="{{ asset('images/sylvain.png') }}" alt="Sylvain Blondeau - Développeur Freelance PHP Symfony - 100% télétravail, wearing glasses and a cool t-shirt">
		<div class="arrow-block glasses">
			<span class="arrow-block-text">
				J'ai des lunettes, un vrai gage de sérieux
			</span>
			<img class="arrow hide-sm" src="{{ asset('images/arrows/snake.png')}}" alt="">
		</div>
		<div class="arrow-block hair">
			<span class="arrow-block-text">
				15 ans d'XP, ça se voit aux cheveux blancs
			</span>
			<img class="arrow hide-sm" src="{{ asset('images/arrows/turn-right.png')}}" alt="">

		</div>
		<div class="arrow-block t-shirt">
			<span class="arrow-block-text">
				En plus j’ai des T-shirts sympas, faut pas hésiter
			</span>
			<img class="arrow hide-sm " src="{{ asset('images/arrows/rotated-right.png')}}" alt="">
		</div>
	</aside>
	<div class="rocket">
		<img src="{{ asset('images/rocket.png') }}" alt="a rocket">
		<div class="rocket-text">Prêt à décoller ensemble ?</div>
	</div>
{% endblock %}
