{% extends 'base.html.twig' %}

{% block title %}Edit SkillCategory
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"  href="{{ asset('styles/skills.css') }}">
	<link rel="stylesheet"  href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
	<h1>Edit SkillCategory</h1>
	<turbo-frame id="article_{{ skill_category.id }}">
        <article class="article-edit">
		{{ include('admin_skill_category/_form.html.twig', {'button_label': 'Modifier'}) }}
        </article>
	</turbo-frame>
	<a href="{{ path('app_admin_skill_category_index') }}">back to list</a>

	{{ include('admin_skill_category/_delete_form.html.twig') }}
{% endblock %}
