{% extends 'base.html.twig' %}

{% block title %}SB Admin | Catégories
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/skills.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
	<turbo-frame id="category_new">
		<article class="article-edit">
			<h2>Ajouter une catégorie de compétences</h2>
			{{ form_start(form, {'action': path('app_admin_skill_category_new')}) }}
			{{ form_widget(form) }}
			<button data-turbo-frame="_top" class="btn">{{ button_label|default('Ajouter') }}</button>
			{{ form_end(form) }}
		</article>
	</turbo-frame>
{% endblock %}
