{% extends 'base.html.twig' %}

{% block title %}Hello SkillController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/skills.css') }}">
{% endblock %}

{% block body %}

	<header>
		{% include 'components/_navbar.html.twig' %}
	</header>
	<main>
		<section>
			<div class="title">
				<h1>Mes compétences</h1>
				<h2>Pourquoi me faire confiance ?</h2>
			</div>
			<div class="skills">
				{% for skillCategory in skillCategories %}

					<article>
						<h2>{{ skillCategory.name }}</h2>
						<div class="article-content">
							<img class="icon" src="{{ asset('images/' ~ skillCategory.icon )}}" alt="">
							<ul>
								{% for skill in skillCategory.skills %}
									<li>{{ skill.name }}</li>
								{% endfor %}
							</ul>
						</div>
					</article>
				{% endfor %}

			</div>
		</section>
	</main>
{% endblock %}
