{% extends 'base.html.twig' %}

{% block title %}SB Freelance | Compétences
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" data-turbo-track="reload" href="{{ asset('styles/skills.css') }}">
{% endblock %}

{% block body %}
	<header>
		{% include 'components/_navbar.html.twig' %}
	</header>
	<main>
		<section>
			<div class="title">
				<h1>Mes compétences</h1>
				<h2>Pourquoi me faire confiance ?</h2>
			</div>
			<p class="phrase">
				<img class="icon" src="{{ asset('images/right-arrow.png' )}}" alt="">
				<strong>+ 15 ans&nbsp;</strong>
				d’expérience en développment web, niveau bac +8
				<img class="knife-icon" src="{{ asset('images/swiss-knife.png' )}}" alt="un couteau suisse">
			</p>

			<div class="skills">
				{% for skillCategory in skillCategories %}
					<div class="article-wrapper">
						<article>
							<h2>{{ skillCategory.name }}</h2>
							<div class="article-content">
								<img class="icon icon-dark" src="{{ asset('images/' ~ skillCategory.icon )}}" alt="">
								<ul>
									{% for skill in skillCategory.skills %}
										<li>{{ skill.name }}</li>
									{% endfor %}
								</ul>
							</div>
						</article>
						<div class="arrow-block">
							<span class="arrow-block-text">{{ skillCategory.description }}
								<img class="arrow icon" src="{{ asset('images/arrows/turn-right.png')}}" alt="">
							</span>
						</div>
					</div>
				{% endfor %}
				<div class="article-wrapper resume">
					<div class="arrow-block">
						<img class="arrow" src="{{ asset('images/arrows/double-loop.png')}}" alt="">
						<span class="arrow-block-text">Juste en 3 mots</span>
					</div>
					<article class="">
						<div class="article-content">Patience - Autonomie - Rigueur</div>
						<a href="#CV" class="btn">Télécharger mon CV</a>
					</article>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<a href="{{ path('app_home')}}">
			<img class="icon" src="{{ asset('images/home.png') }}" alt="">
			Retour à l'accueil
		</a>
		<a href="#">
			<img class="icon" src="{{ asset('images/portfolio.png') }}" alt="">
			Voir mes réalisations
		</a>
	</footer>
{% endblock %}
