<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Sylvain BLONDEAU | Développeur Freelance PHP et Symfony | +15ans d'expérience | 100% télétravail | Et j'aime ce que je fais alors n'ayez pas peur de me contactez-moi :-)">
		<link rel="icon" href="{{ asset('images/favicon.png') }}">
		{% block stylesheets %}
			{{ ux_controller_link_tags() }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				{% include 'components/_navbar.html.twig' %}
			</header>
		{% endblock %}
		{% block flashes %}
			{% include 'components/_flashes.html.twig' %}
		{% endblock %}

		{% block body %}{% endblock %}
		<a class="legal" href="{{ path('app_legal') }}">Mentions légales</a>
	</body>
</html>
